.card {
    border: 1px dotted grey;
    padding: 5px 0px 20px 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}




.repos-description {
    margin-bottom: 16px;
    font-size: 14px;
    color: black;
}