.background-container {
    border: 1px dotted black;
    display: flex;
    margin-top: 30px;
}

.avt_location,
.bio {
    padding: 30px 20px 30px 20px ;
    text-align: center;
    /* border: 1px solid black; */
    width: 50%;
}

.visitBtn {
    margin-top: 20px;
}

.avatar {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    border: 1px solid black;
}

