.navbar {
    background: black;
    padding: 0px 20px;
    box-sizing: border-box;
}

.navbar .header-content {
    max-width: 1280px;
    min-height: 90px;
    padding: 20px 0px;
    box-sizing: border-box;
    display: flex;
}

.FilmLogo {
    height: 33px;
    width: 190px;
    margin-top: 10px;
}

.ReactGif {
    height: 53px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    left: 85%;
    transform: translateX(-50%);
}