.user {
    border: 1px dotted grey;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user .user__avatar img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 0.5px solid black;
}

.user_name {
    padding-top: 10px;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}